<div class="offer">
    <div class="center">
        <div class="offer__heading">We have some
            <br>interesting tours for you</div>
        <div class="offer__list">
            {% set images = [
            'daily-tours',
            'riga-tours',
            'outsideriga-tours'
        ]%}
            {% for i in 0..2 %}
                <div class="offer__item">
                    <span class="offer__image-container">
                        <div class="offer__image-container-details">
                            <img data-src="/img/content-items/offer/{{images[i]}}.jpg" class="offer__image lazy" alt="">
                            <span class="offer__description">Take part in any of our regular tours to different destinations every day, and explore the historical and cultural sights.</span>
                        </div>

                    </span>

                    <a href="#" class="offer__link">
                        <span class="offer__title">
                            Regular daily tours</span>
                        <img class="offer__icon" src="/img/content-items/offer/arrow.svg" alt=""></a>
                </div>
            {% endfor %}
        </div>
    </div>

</div>