.logo {
  display: inline-flex;

  &__image {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: inline-flex;
    transition: transform 0.4s ease-in-out;

    &:hover {
      transform: scale(1.15);
    }
  }

  $this: &;

  &--header {
    @media #{$m_tablet} {
      #{$this}__image {
        width: 50px;
        height: 50px;
      }
    }

    @media #{$m_desktop} {
      margin: 28px 0 33px 0;
      margin-right: 65px;

      #{$this}__image {
        width: 79px;
        height: 79px;
      }
    }
  }

  &--footer {
    #{$this}__image {
      width: 74px;
      height: 74px;

      @media #{$m_tablet} {
        width: 32px;
        height: 32px;
      }

      @media #{$m_desktop} {
        width: 74px;
        height: 74px;
      }
    }
  }
}
