<ul class="language {{ mod }}">
    <li class="language__item-wrapper">
        <a href="#" class="language__item">
            <img class="language__icon" src="/img/components/language/en.png" alt="English">
        </a>
    </li>
    <li class="language__item-wrapper">
        <a href="#" class="language__item">
            <img class="language__icon" src="/img/components/language/lv.png" alt="Latvian">
        </a>
    </li>
    <li class="language__item-wrapper">
        <a href="#" class="language__item">
            <img class="language__icon" src="/img/components/language/ge.png" alt="German">
        </a>
    </li>
    <li class="language__item-wrapper">
        <a href="#" class="language__item">
            <img class="language__icon" src="/img/components/language/ru.png" alt="Русский">
        </a>
    </li>
</ul>