<div class="achievements">
    <div class="achievements__image">
        <img src="/img/components/achievements/achievements.png" alt="">
    </div>
    <div class="achievements__label-wrapper">
        <div class="achievements__label">
            Guide Agency
        </div>
        <div class="achievements__subline">Since 2004</div>
    </div>
</div>