<div class="form-requisites">
    <div class="form-requisites__item form-requisites--icon form-requisites--icon-addr">
        <div class="form-requisites__heading">Address:</div>
        <div class="form-requisites__text">
            Rātslaukums 7,<br>
            Rīga, LV-1050
        </div>
    </div>

    <div class="form-requisites__item">
        <div class="form-requisites__heading">Reception:</div>
        <div class="form-requisites__subline">info@smileline.lv</div>
        <div class="form-requisites__text form-requisites__text--black">
            Tel.: +371 29-54-26-26<br>
            Daily 9:30 – 15:00
        </div>
    </div>

    <a href="#" class="form-requisites__item form-requisites--icon form-requisites--icon-waze">
        <span class="form-requisites__subline">Navigate with WAZE</span>
        <span class="form-requisites__text">For smartphone users</span>
    </a>
</div>