@import "normalize/import-now";
@import "variables";
@import "components/fonts/fonts";

html {
  height: 100%;
}

body {
  font-family: "ProximaNova", sans-serif;
  background-color: #fff;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 320px;

  &.fixed {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
}

.content {
  flex: 1;
}

.center {
  padding: 0 15px;
  margin: auto;
  width: 100%;

  @media #{$m_tablet} {
    padding: 0 40px;
  }

  @media #{$m_desktop} {
    padding: 0 60px;
    max-width: 1440px;
  }
}

.flex {
  display: flex;

  &_start {
    align-items: flex-start;
    justify-content: flex-start;
  }

  &_end {
    align-items: flex-end;
    justify-content: flex-start;
  }

  &_center {
    align-items: flex-start;
    justify-content: center;
  }
}

@import "components/logo/logo";
@import "components/language/language";
@import "components/contact-requisites/contact-requisites";
@import "components/navigation/navigation";
@import "components/partners/partners";
@import "components/achievements/achievements";
@import "components/rounded-triangle/rounded-triangle";
@import "components/buttons/buttons";
@import "components/map/_map";
@import "components/input/_input";
@import "components/input-number/_input-number";
@import "components/datepicker/_datepicker";
@import "components/dropdown/_dropdown";
@import "components/calendar-item/_calendar-item";

@import "content-items/header/_header";
@import "content-items/hero/_hero";
@import "content-items/header-burger/_header-burger";
@import "content-items/footer/_footer";
@import "content-items/book/_book";
@import "content-items/social/instagram/_instagram";
@import "content-items/social/tweets/_tweets";
@import "content-items/social/tripadvisor/_tripadvisor";
@import "content-items/offer/_offer";
@import "content-items/benefits/_benefits";
@import "content-items/carousel/_carousel";
@import "content-items/contacts/_contacts";
@import "content-items/tour/_list";
@import "content-items/tour/tour-body";
@import "content-items/news/_list";
@import "content-items/book-form/_book-form";
@import "content-items/calendar-list/_calendar-list";

.swiper-button-prev {
  &:not(.swiper-button-disabled) {
    transition: transform 0.2s linear;

    &:hover {
      transform: scale(1.1) rotate(180deg);
    }
  }
}

.swiper-button-next {
  &:not(.swiper-button-disabled) {
    transition: transform 0.2s linear;

    &:hover {
      transform: scale(1.1);
    }
  }
}
