<div class="quantity-select{% if mod is defined%} quantity-select--{{ mod }}{% endif %}">
    <div class="quantity-select__control" data-type="decriment">-</div>
    <input class="quantity-select__input" type="{{ name }}" value="1" min="1">
    <div class="quantity-select__control" data-type="increment">+</div>
</div>