<div class="center">
    <div class="month-select">
        <div class="month-select__month">April 2018</div>
    </div>
</div>
<div class="calendar-list">
    <div class="center">
        {% set calendarItems = [
            {
                title: 'Jurmala sightseeing (group tour from May 1st to September 30) @ Jurmala'
            },
            {
                title: 'Jurmala sightseeing (group tour from May 1st to September 30) @ Jurmala'
            },
            {
                title: 'Jurmala sightseeing (group tour from May 1st to September 30) @ Jurmala'
            },  
            {
                title: 'Jurmala sightseeing (group tour from May 1st to September 30) @ Jurmala'
            },
            {
                title: 'Jurmala sightseeing (group tour from May 1st to September 30) @ Jurmala'
            }
        ]%}

        {% for item in calendarItems %}
            {% include 'components/calendar-item/_calendar-item.twig' with { item: item } only %}
        {% endfor %}
    </div>
</div>