<div class="hidden-gallery">
    <span class="hidden-gallery__trigger" title="Photos">
        <img src="/img/content-items/hero/all-photos.svg" alt="">
    </span>
    <div class="hidden-gallery__content">
        <a href="https://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg" data-lightbox="roadtrip">Image #2</a>
        <a href="https://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg" data-lightbox="roadtrip">Image #3</a>
        <a href="https://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg" data-lightbox="roadtrip" id="test-box">Image #4</a>
    </div>
</div>