.article-body {
  padding: {
    top: 50px;
    bottom: 80px;
  }

  &__center {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__description {
    width: 100%;
    padding: 0;
    display: none;

    @media #{$m-tablet--wide} {
      width: calc(100% - 400px);
      padding-right: 58px;
    }

    &.active {
      display: block;
    }
  }
  &__paragraph {
    font-size: 15px;
    line-height: 1.45em;
    color: #000000;
    margin: 0;
    margin-bottom: 35px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media #{$m_tablet} {
      font-size: 18px;
    }

    @media #{$m-tablet--wide} {
      font-size: 22px;
      line-height: 1.45em;
    }
  }
}
