<div class="contacts-form">
    <h2 class="contacts-form__heading">Feel free to drop us a line</h2>
    <div class="contacts-form__subline">We work daily from 10:00 o`clock<br>
        365 days a year.</div>

    <form action="" class="float-label contacts-form__form">
        <div class="control">
            <input type="text" name="name" id="name" placeholder="YOUR NAME" required="required">
            <label for="name">YOUR NAME</label>
        </div>

        <div class="control">
            <input type="email" name="email" id="email" placeholder="YOUR EMAIL" required="required">
            <label for="email">YOUR EMAIL</label>
        </div>

        <div class="control control--textarea">
            <textarea name="text" id="text" class="custom-label" cols="30" rows="10" placeholder="MESSAGE US" required="required"></textarea>
            <label for="text">MESSAGE US</label>
        </div>

        <button class="contacts-form__button sl-button sl-button--medium">Send</button>
    </form>
</div>