<a class="tripadvisor-review" href="#">
    <div class="tripadvisor-review__wrapper">
        <div class="tripadvisor-review__comment">We did 2 tours with Gunta in one day, and were lucky to almost have her to ourselves the whole time. She is extremely knowledgeable and we had a fantastic time - and we learned a lot!</div>
        <div class="tripadvisor-review__author">
            <div class="tripadvisor-review__avatar">
                <img src="/img/content-items/social/tripadvisor/review/review-demo-avatar.png" alt="">
            </div>

            <div class="tripadvisor-review__credentials">
                <div class="tripadvisor-review__name">tonygreen778</div>
                <div class="tripadvisor-review__from">Moscow, Russia</div>
            </div>

            <div class="tripadvisor-review__rate">
                <div class="tripadvisor-review__star"></div>
                <div class="tripadvisor-review__star"></div>
                <div class="tripadvisor-review__star"></div>
                <div class="tripadvisor-review__star"></div>
                <div class="tripadvisor-review__star tripadvisor-review__star--disabled"></div>
            </div>
        </div>
    </div>
</a>