<div class="offer-carousel">
    <div class="center">

        <div class="offer-carousel__tab-controls">
            <a href="#" class="offer-carousel__tab-control offer-carousel__heading" data-tab="1">
                <span>Most popular tours</span>
            </a>

            <a href="#" class="offer-carousel__tab-control offer-carousel__tab-control--active offer-carousel__heading" data-tab="2">
                <span>Best offers</span>
            </a>
        </div>

        <div class="controls control-tab-1 active">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="controls control-tab-2">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="offer-carousel__list">
            <div class="offer-carousel__tabs">
                {% for tab in 1..2 %}
                    <div class="offer-carousel__tab" data-tab="{{ tab }}">
                        <div class="offer-carousel__tab-content">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    {% for i in 1..10 %}
                                        <div class="swiper-slide">
                                            <div class="offer-carousel__item lazy" data-src="https://placeimg.com/477/255/nature?{{i}}">
                                                <div class="offer-carousel__item-content">
                                                    <span class="offer-carousel__item-heading">
                                                        {% if i % 3 == 0 %}
                                                            Long long title Walking tour Old Town
                                                        {% else %}
                                                            Walking tour Old Town
                                                        {% endif %}
                                                    </span>
                                                    <span class="offer-carousel__item-subline">
                                                        {% if i % 3 == 0 %}
                                                            Long long description text During the tour you’ll walk along the narrow streets of the Medieval Hanseatic Old Town
                                                        {% elseif i % 2 == 0 %}
                                                            Short text
                                                        {% else %}
                                                            During the tour you’ll walk along the narrow streets of the Medieval Hanseatic Old Town
                                                        {% endif %}
                                                    </span>
                                                    <span class="offer-carousel__button">
                                                        <a href="/tour.html" class="sl-ca sl-ca--small-to-big">Uzzināt vairāk</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>