<div class="contacts">
    <div class="center">
        <div class="contacts__heading">Guide Agency “Smile Line"</div>

        <div class="contacts__content">
            <div class="contacts__map-container">
                {% include '/content-items/contacts/requisites/_requisites.twig' %}
                {% include '/components/map/_map.twig' %}
            </div>

            <div class="contacts__form-container">
                {% include '/content-items/contacts/form/_form.twig' %}
            </div>
        </div>
    </div>
</div>