@import "review/review";

.tripadvisor {
  overflow: hidden;
  position: relative;

  & > .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    padding-top: 35px;
    position: relative;

    @media #{$m-tablet} {
      &::after,
      &::before {
        content: "";
        background-image: url("/img/content-items/social/tripadvisor/bubble.png");
        position: absolute;
        top: 193px;

        width: 438px;
        height: 158px;
        background-size: cover;
      }

      &::after {
        right: 0;
      }

      &::before {
        left: 0;
      }
    }

    @media #{$m-tablet} {
      padding-bottom: 60px;
      flex-direction: column;
      padding-top: 60px;
    }
  }

  &__list {
    padding-top: 35px;
    padding-bottom: 30px;

    @media #{$m-tablet} {
      display: flex;
      width: 100%;
      padding-top: 50px;
      overflow: hidden;
    }
  }

  .swiper-container {
    max-width: 80%;
    margin: auto;
  }

  // swiper
  @media #{$m_tablet} {
    @import "swiper/dist/css/swiper.min";

    .swiper-container {
      height: 100%;
      width: 100%;
      overflow: visible;
      max-width: none;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      //   width: 100%;
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-butt on-next,
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
      background-image: url("/img/content-items/social/tripadvisor/right-trip.svg");
      width: 54px;
      height: 54px;
      background-size: auto;
      margin-top: -54px;
    }
  }

  .swiper-button-prev {
    transform: rotate(180deg);
  }

  @media #{$m-mobile--only} {
    .swiper-wrapper {
      transform: none !important;
    }
  }

  .swiper-slide {
    @media #{$m-mobile--only} {
      display: none;

      &:nth-child(-n + 3) {
        display: block;
      }
    }
  }
}
