{% extends "_layout.twig" %}

{% block css %}
    <link rel="stylesheet" href="css/index.css">
{% endblock%}

{% block content %}
    <h3>Components</h3>

{% endblock %}

{% block js %}
    <script src="js/index.js?v=4"></script>
{% endblock %}
