{% extends "_layout.twig" %}

{% block contentMod %}
    content--dark
{% endblock %}

{% block title %}UI -
    {{ parent() }}
{% endblock %}

{% block content %}
    <section class="demo-ui-content">
        <div class="page-list">
            <h1>Site Pages
            </h1>

            <ul>
                <li>
                    <a target="_blank" href="/index.html">Main</a>
                </li>
                <li>
                    <a target="_blank" href="/catalogue.html">Tour catalogue</a>
                </li>
                <li>
                    <a target="_blank" href="/tour.html">Tour</a>
                </li>
                <li>
                    <a target="_blank" href="/news.html">News</a>
                </li>
                <li>
                    <a target="_blank" href="/news-article.html">News article</a>
                </li>
                <li>
                    <a target="_blank" href="/contacts.html">Contacts</a>
                </li>
                <li>
                    <a target="_blank" href="/voucher.html">Voucher</a>
                </li>
            </ul>
        </div>

        <div class="component-list">
            <div class="component">
                <h1>Buttons</h1>

                <div>
                    <h2>Default CA button</h2>
                    <div>
                        <a href="#" class="sl-ca sl-ca--small">Small button</a>
                        <a href="#" class="sl-ca">Regular button</a>
                        <a href="#" class="sl-ca sl-ca--small-to-big">Small on to big</a>
                        <a href="#" class="sl-ca sl-ca--big">Big button</a>
                    </div>

                    <div>
                        <a href="#" class="sl-ca sl-ca--c-orange sl-ca--small">Small button</a>
                        <a href="#" class="sl-ca sl-ca--c-orange">Regular button</a>
                        <a href="#" class="sl-ca sl-ca--c-orange sl-ca--big">Big button</a>
                    </div>

                    <div>
                        <a href="#" class="sl-ca sl-ca--small sl-ca--c-white"><img src="/img/components/buttons/pdf.svg" alt="">Small button</a>
                    </div>
                </div>

                <div>
                    <h2>Bordered CA button</h2>
                    <div>
                        <a href="#" class="sl-ca-border sl-ca-border--small">Small button</a>
                        <a href="#" class="sl-ca-border">Regular button</a>
                        <a href="#" class="sl-ca-border sl-ca-border--big">Big button</a>
                    </div>
                </div>

                <div>
                    <h2>Custom</h2>
                    <div>
                        <a href="#" class="sl-button sl-button--small sl-button--color-blue">FOLLOW</a>

                    </div>
                </div>
            </div>

            <div class="component">
                <h1>contact-requisites</h1>

                <div class="mode">
                    <h2>
                        default</h2>

                    {% include "components/contact-requisites/_contact-requisites.twig" %}

                </div>
                <div class="mode">
                    <h2>--header</h2>

                    {% include "components/contact-requisites/_contact-requisites.twig" with { mod : ' contact-requisites--header' } only %}

                </div>

                <div class="mode">
                    <h2>--footer</h2>
                    {% include "components/contact-requisites/_contact-requisites.twig" with { mod : ' contact-requisites--footer' } only %}

                </div>
            </div>
        </div>
    </section>

{% endblock %}