.header {
  background: #fff;
  padding: 10px 0;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 32;
  width: 100%;
  min-width: 320px;
  box-shadow: 0 0 40px 0 rgba(5, 22, 50, 0.24);

  & > .center {
    position: relative;
    align-items: center;
  }

  @media #{$m-desktop-18} {
    padding: 0;
    position: initial;
    box-shadow: none;
  }

  @media (max-width: 1440px) and (orientation: landscape) {
    position: initial;
  }

  &__language {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    display: inline-flex;

    @media #{$m-desktop-18} {
      top: 0;
      left: auto;
      right: 60px;
      transform: translateX(0);
      z-index: 2;
      top: 20px;
    }
  }
}
