<div class="partners">
    <div class="partners__label">
        <span class="partners__label-inner">Our partners</span>
    </div>

    {% for i in 1..5 %}
        <a href="#" class="partners__item">
            <img src="/img/components/partners/mgnusson.png" data-rjs="2" alt="Patner name">
        </a>
    {% endfor %}
</div>