<ul class="contact-requisites{{ mod }}">
    <li class="contact-requisites__link-wrapper">
        <a href="tel:+37125132603" class="contact-requisites__link contact-requisites__link--phone">
            <img class="contact-requisites__icon" src="/img/components/contact-requisites/phone.svg" alt="">
            +371 29 54 26 26
        </a>
    </li>
    <li class="contact-requisites__link-wrapper">
        <a href="mailto:+info@smileline.lv" class="contact-requisites__link contact-requisites__link--mail">
            <img class="contact-requisites__icon" src="/img/components/contact-requisites/mail.svg" alt="">
            info@smileline.lv
        </a>
    </li>
    <li class="contact-requisites__link-wrapper">
        <a href="#" class="contact-requisites__link contact-requisites__link--whatsapp">
            <img class="contact-requisites__icon" src="/img/components/contact-requisites/whatsapp.svg" alt="">
            smileline.lv
        </a>
    </li>
</ul>