.hero {
  @import "swiper/dist/css/swiper.min";

  .swiper-slide {
    overflow: hidden;

    .hero__slide::before {
      opacity: 0.1;
      transition: all 0.6s ease-out;
    }

    .center {
      transform: translateY(-20%);
      height: 100%;
      opacity: 0;
      transition: transform 0.5s ease-out 400ms, opacity 0.5s ease-out 400ms;
    }

    &-active {
      .center {
        opacity: 1;
        transform: translateY(0);
      }

      .hero__slide::before {
        opacity: 0.74;
      }
    }
  }

  $this: &;

  &__id {
    font-size: 16px;
    font-weight: bold;
    line-height: 1em;
    color: #ffde49;

    padding: {
      top: 70px;
      bottom: 6px;
    }

    @media #{$m_tablet} {
      font-size: 32px;

      padding: {
        top: 150px;
      }
    }

    & + #{$this}__title {
      padding-top: 0;
    }
  }

  &__slide-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: transform 0.4s linear;
  }

  &__slide {
    height: 280px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    &:hover {
      #{$this}__slide-image {
        transform: scale(1.05);
      }
    }

    @media #{$m_tablet} {
      height: 495px;
    }

    &--no-button {
      height: 200px;

      @media #{$m_tablet} {
        height: 400px;
      }
    }

    &--tour {
      @media #{$m_tablet} {
        height: 475px;
      }
    }

    &--v2 {
      background-size: cover;
      background-repeat: no-repeat;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 1;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #051f4c);
    }

    & > .center {
      position: absolute;
      top: 0;
      z-index: 2;
      left: 0;
      width: 100%;
    }
  }

  &__slide-content {
    z-index: 2;
    position: relative;
    height: 100%;
    width: 100%;

    &--tour {
      position: absolute;
    }
    @media #{$m-mobile--only} {
      z-index: 2;
      position: absolute;
      height: 100%;
    }

    & > .center {
      display: flex;
      flex-direction: column;

      justify-content: flex-start;
      align-items: center;

      @media #{$m_tablet} {
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }

  &__button {
    position: absolute;
    bottom: 53px;

    @media #{$m_tablet} {
      bottom: 112px;
    }
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  &__title {
    font-size: 21px;
    font-weight: bold;
    line-height: 0.98em;
    letter-spacing: 0;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: {
      top: 70px;
      bottom: 6px;
    }

    @media #{$m_tablet} {
      font-size: 52px;
      font-weight: bold;
      line-height: 0.79em;
      letter-spacing: 0;
      text-align: left;
      color: #ffffff;

      padding: {
        top: 150px;
        bottom: 21px;
      }
    }
  }

  &__description {
    font-size: 14px;
    line-height: 1.07em;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 0 10%;

    @media #{$m_tablet} {
      font-size: 22px;
      line-height: 1.05em;
      text-align: left;
      max-width: 50%;
      margin-bottom: 70px;
      padding: 0;
    }
  }

  &__pagination {
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    left: 0;
    bottom: 10px;

    & > .center {
      display: flex;
      justify-content: center;
    }

    @media #{$m_tablet} {
      left: 300px;
      bottom: 126px;

      & > .center {
        display: block;
      }
    }

    &--tour {
      bottom: 18px;
      left: 0;
      display: flex;
      justify-content: center;

      & > .center {
        display: flex;
      }
    }

    span.swiper-pagination-bullet {
      padding: 10px;
      opacity: 1;

      background: transparent;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 6px;
        left: 6px;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: #fff;
      }

      &:focus {
        outline: none;
      }

      &-active {
        &:after {
          background: #ffde49;
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-butt on-next,
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    background-image: url("/img/content-items/social/instagram/right-small.svg");
    width: 34px;
    height: 34px;
    background-size: auto;
    top: 10px;
    margin: 0;

    @media #{$m-tablet} {
      background-image: url("/img/content-items/social/instagram/right-big.svg");
      width: 54px;
      height: 54px;
      top: 0;
    }
  }

  .swiper-button-next {
    right: 0px;
  }

  .swiper-button-prev {
    transform: rotate(180deg);
    left: 0;
  }

  &__navigation-container {
    position: relative;
    height: 54px;
    width: 100%;
    position: absolute;
    bottom: 6px;
    left: 0;
    z-index: 2;

    & > .center {
      height: 100%;
    }

    @media (min-width: 450px) {
      width: 76%;
      margin-left: 12%;
    }

    @media #{$m-tablet} {
      bottom: 50px;
      width: 100%;
      margin-left: 0;
    }
  }

  &__navigation-outer {
    height: 100%;
    width: 100%;
  }

  &__navigation-inner {
    position: relative;
    width: 100%;
    height: 100%;

    @media #{$m-tablet--wide} {
      width: calc(100% - 400px);
      padding-right: 58px;
    }
  }

  &__navigation-content {
    height: 100%;
    display: flex;
  }

  &__navigation-controls {
    width: 100%;
    position: relative;
  }

  .gallery-trigger {
    display: inline-flex;
    margin-left: 10px;
    display: none;

    svg {
      margin-top: 10px;
      width: 34px;
      height: 34px;
    }

    @media #{$m-tablet} {
      margin-left: 30px;

      svg {
        margin-top: 0;
        width: 54px;
        height: 54px;
      }
    }
  }
}

.hero {
  .swiper-slide {
  }
}

@keyframes mymove {
  from {
  }
  to {
  }
}
