<div class="hero">
    <div class="hero__list">
        {% if slideMod is defined and slideMod == 'tour' %}
            <div class="swiper-container">
                <div class="hero__slide-content hero__slide-content--tour">
                    <div class="center">
                        <span class="hero__id">ID 002</span>
                        <h1 class="hero__title">Walking tours in Old Riga</h1>
                    </div>
                </div>

                <div class="swiper-wrapper">
                    {% for i in 1..3 %}
                        <div class="swiper-slide">
                            <div class="hero__slide hero__slide--hero__slide--tour">

                                <span class="hero__slide-image" style="background-image: url('/img/content-items/hero/img.jpg');"></span>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="hero__slide hero__slide--hero__slide--tour">

                                <span class="hero__slide-image" style="background-image: url('/img/content-items/hero/img2.jpg');"></span>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="hero__navigation-container">
                    <div class="center">
                        <div class="hero__navigation-outer">
                            <div class="hero__navigation-inner">
                                <div class="hero__navigation-content">
                                    <div class="hero__navigation-controls">
                                        <div class="swiper-button-prev"></div>

                                        <div class="hero__pagination hero__pagination--tour">
                                            <div class="swiper-pagination"></div>
                                        </div>
                                        <div class="swiper-button-next"></div>
                                    </div>

                                    {% include "components/hidden-gallery/_hidden-gallery.twig" %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        {% elseif slideMod is defined and slideMod == 'news-article' %}
            <div class="hero__slide hero__slide--no-button">
                <div class="hero__slide-content">
                    <div class="center">
                        <h1 class="hero__title">Walking tours in Old Riga</h1>
                    </div>
                </div>

                <span class="hero__slide-image" style="background-image: url('/img/content-items/hero/img3.jpg');"></span>
            </div>

            <div class="hero__navigation-container">
                <div class="center">
                    <div class="hero__navigation-outer">
                        <div class="hero__navigation-inner">
                            <div class="hero__navigation-content">
                                <div class="hero__navigation-controls">
                                    <div class="content-button content-prev">
                                        <div class="title">
                                            Previous Post
                                        </div>

                                        <div class="post-title">Overdraft escape route</div>
                                    </div>
                                    <div class="content-button content-next">
                                        <div class="title">
                                            Next Post
                                        </div>
                                        <div class="post-title">Overdraft escape route</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% elseif noswiper is not defined %}
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for i in 1..4 %}
                        <div class="swiper-slide">
                            <div class="hero__slide">
                                <div class="hero__slide-content">
                                    <div class="center">
                                        <h1 class="hero__title">Walking tours in Old Riga</h1>
                                        <p class="hero__description">Old Town, culinary tour, Ring of Boulevards and Art Nouveau district, Soviet Riga, Wooden architecture and activities</p>
                                        <a href="#" class="sl-ca sl-ca--big">Uzzin훮t vair훮k</a>
                                    </div>
                                </div>

                                <span class="hero__slide-image" style="background-image: url('/img/content-items/hero/img.jpg');"></span>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="hero__slide">
                                <div class="hero__slide-content">
                                    <div class="center">
                                        <h1 class="hero__title">Walking tours in Old Riga</h1>
                                        <p class="hero__description">Old Town, culinary tour, Ring of Boulevards and Art Nouveau district, Soviet Riga, Wooden architecture and activities</p>
                                        <a href="#" class="sl-ca sl-ca--big">Uzzin훮t vair훮k</a>
                                    </div>
                                </div>

                                <span class="hero__slide-image" style="background-image: url('/img/content-items/hero/img2.jpg');"></span>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Add Pagination -->
                <div class="hero__pagination">
                    <div class="center">
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="hero__slide hero__slide--no-button">
                <div class="hero__slide-content">
                    <div class="center">
                        <h1 class="hero__title">Walking tours in Old Riga</h1>
                        {% if nodesc is not defined %}
                            <p class="hero__description">Old Town, culinary tour, Ring of Boulevards and Art Nouveau district, Soviet Riga, Wooden architecture and activities</p>
                        {% endif %}
                    </div>
                </div>

                <span class="hero__slide-image" style="background-image: url('/img/content-items/hero/img3.jpg');"></span>
            </div>
        {% endif %}
    </div>

</div>