@import "tooltipster/src/css/tooltipster";

.benefits {
  background: #f9fbfd;
  padding-top: 30px;
  padding-bottom: 15px;
  $this: &;

  @media #{$m_tablet} {
    padding-top: 50px;
  }

  &__heading {
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    color: #1c4386;
    text-align: center;
    line-height: 1.05em;

    @media #{$m_tablet} {
      font-size: 32px;
      line-height: 1.38em;
    }
  }
  &__item {
    flex-basis: 50%;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;

    &.tooltip-open {
      #{$this}__item-title {
        color: #1c4386;
      }

      #{$this}__icon {
        svg circle {
          fill-opacity: 0.5;
        }
      }
    }

    @media #{$m-mobile--only} {
      &:not(:nth-child(2n + 2)) {
        &:after {
          content: "";
          position: absolute;
          height: 50px;
          width: 1px;
          right: 0;
          top: 15px;
          background: #1c4386;
          opacity: 0.21;
        }
      }
    }

    @media #{$m_tablet} {
      flex-basis: 25%;
      margin-bottom: 60px;

      &:not(:nth-child(4n + 4)) {
        &:after {
          content: "";
          position: absolute;
          height: 100px;
          width: 1px;
          right: 0;
          top: 0;
          background: #1c4386;
          opacity: 0.21;
        }
      }
    }
  }

  &__item-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 0;
    text-align: center;
    color: #000000;

    @media #{$m_tablet} {
      font-size: 16px;
      line-height: 1.25em;
    }
  }
  &__icon {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-bottom: 9px;

    svg {
      width: 80px;
      height: 80px;
    }
    @media #{$m_tablet} {
      margin-bottom: 18px;
      width: 90px;
      height: 90px;

      svg {
        width: 90px;
        height: 90px;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 38px;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;

    @media #{$m_tablet} {
      margin-top: 55px;
      margin-bottom: 0;
    }
  }

  &--animate {
    #{$this}__list {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.tooltipster {
  $this: &;

  &-base {
    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 10px;
      bottom: 0px;
      left: 24px;
      background-color: #8a9fc1;
      z-index: 2;

      @media #{$m-tablet} {
        width: 40px;
        height: 20px;
        left: 30px;
      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      bottom: -5px;
      background-color: #8a9fc1;
      transform: rotate(45deg);
      border-radius: 2px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
      left: 50%;
      margin-left: -6px;

      @media #{$m-tablet} {
        height: 24px;
        border-radius: 5px;
        bottom: -10px;
        width: 24px;
        margin-left: 0;
        left: 38px;
      }
    }
  }

  &-arrow-right {
    &::after {
      @media #{$m-tablet} {
        left: auto;
        right: 38px;
      }
    }
  }
  &-box {
    width: 175px;
    padding: 14px 14px 14px 14px;
    border-radius: 15px;
    background-color: #8a9fc1;
    overflow: hidden;
    color: #ffff;
    z-index: 4;

    @media #{$m-mobile--wide} {
      width: 250px;
    }

    @media #{$m-tablet} {
      width: 315px;
      padding: 16px 30px 16px 24px;
    }
  }

  &-content {
    overflow: hidden;
    font-size: 11px;

    line-height: 1.25em;

    @media #{$m-tablet} {
      font-size: 16px;
    }
  }
}
