<div class="tour-list">
    <div class="center">
        <div class="tour-list__list">
            {% for i in 1..6 %}
                <div class="offer-carousel__item" style="background-image: url('https://placeimg.com/500/500/nature?{{i}}');">
                    <div class="offer-carousel__item-content offer-carousel__item-content--big">

                        <span class="offer-carousel__item-heading">
                            {% if i % 3 == 0 %}
                                Long long title Walking tour Old Town
                            {% else %}
                                Walking tour Old Town
                            {% endif %}
                        </span>
                        <span class="offer-carousel__item-subline">
                            {% if i % 3 == 0 %}
                                Long long description text During the tour you’ll walk along the narrow streets of the Medieval Hanseatic Old Town
                            {% elseif i % 2 == 0 %}
                                Short text
                            {% else %}
                                During the tour you’ll walk along the narrow streets of the Medieval Hanseatic Old Town
                            {% endif %}
                        </span>
                        <div class="offer-carousel__button">
                            <a href="/tour.html" class="sl-ca">Uzzināt vairāk</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>