<section id="tour" class="tour-body">
    <div class="center">

        <div class="tour-body__center">
            <div class="tour-body__description">
                <p class="tour-body__paragraph">During the tour you’ll walk along the narrow streets of the Medieval Hanseatic Old Town and enjoy the splendors of the Dome Cathedral, Big and Small Guild Houses and the Riga Castle.</p>
                <p class="tour-body__paragraph">The tour starts at the Town Hall Square- the central square of the city from 13th up to 19th century. The most famous building on the square is the magnificent Blackheads’ House.</p>
                <p class="tour-body__paragraph">You will also see such famous spots as St. Peter’s Church, the Swedish Gate, Powder Tower and many others.</p>
            </div>

            {% include 'content-items/book-form/_book-form.twig' %}
        </div>
    </div>
</section>