$border: 1px solid #ddd;
$padding: 10px;
$label-font-size: 13px;

// float label
.float-label {
  .control {
    float: left;
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: $padding;

    // you proably want to replace these with your grid classes
    &.small {
      width: 30%;
      border-right: $border;
    }

    &.medium {
      width: 70%;
      padding-left: $padding;
    }

    &:last-child {
      border: 0;
    }

    &--textarea {
      background: #fff;
      border-bottom: 2px solid rgba(28, 67, 134, 0.2);
    }

    &--theme-dark {
      padding-bottom: 0;
      input {
        background: transparent;
        border-bottom: 1px solid #4a90e2;
        padding: 0 7px;
        font-size: 10px;
        padding: 7px 7px;
        font-size: 16px;
        color: #fff;
        &:focus + label {
          color: rgba(#fff, 0.6);
        }
        & + label {
          color: rgba(#fff, 0.3);
          padding: 0 7px;
          margin-top: 5px;
        }

        & + label,
        &::placeholder {
          font-family: "ProximaNova";
          color: rgba(#fff, 0.3);
          font-size: 10px;
          line-height: 1.6em;
          letter-spacing: 0.6px;
        }
      }
    }
  }

  input,
  textarea {
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    resize: none;

    // inactive but shown label (exceptions: opacity and top)
    & + label {
      position: absolute;
      top: 10px;
      transition: top 0.7s ease, opacity 0.7s ease;
      opacity: 0;
      left: 0;

      // Some nice styling
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 2px;
      text-align: left;
      color: #9b9b9b;
      padding: 0 21px;
    }

    &.custom-label {
      padding-top: 27px;

      & + label {
        top: 26px;
      }
    }

    // THE MAGIC
    // as soon as we start typing, the "required" attribute will
    // set the state to valid and our pseudo selector will match
    &:focus + label,
    &:valid + label {
      opacity: 1;
      top: 3px;
    }

    &.custom-label {
      &:focus + label,
      &:valid + label {
        opacity: 1;
        top: 19px;
      }
    }

    // and we highlight the focused input label
    &:focus + label {
      color: #192e3e;
    }
  }

  input,
  textarea {
    background: #ffffff;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    color: #9b9b9b;
    padding: 10px 21px;
    font-family: "ProximaNova", sans-serif;
    &::placeholder {
      color: #9b9b9b;
      font-family: "ProximaNova", sans-serif;
      letter-spacing: 2.7px;
      font-weight: bold;
    }
  }

  input {
    border-bottom: 2px solid rgba(#1c4386, 0.2);
  }

  textarea {
    & + label {
      // top: 0 !important;
      // opacity: 1 !important;
    }
  }
}
