<div class="book">
    <div class="center">
        <p class="book__text">
            We provide guided tours in Riga and Latvia in 18 different languages. Professional guides will always give you advice on things to do in Riga while you are here. Our main aim is – happy and informed visitors of our city who will remember this experience and have good memories of Latvia.</p>
        <a href="#" class="book__button sl-ca sl-ca--big sl-ca--c-orange">Book a tour now
            <i class="sl-ca__icon">
                <img src="/img/components/buttons/arrow-right.svg" alt="">
            </i>
        </a>

    </div>
</div>