<div class="web-voucher">
    <div class="center">
        <div class="web-voucher__content">
            <div class="web-voucher-heading">
                <div class="web-voucher-heading__title-wrap">
                    <div class="web-voucher-heading__title">Voucher</div>
                    <div class="web-voucher-heading__id">
                        <b>Reservation number:</b>
                        EKS-0001</div>
                </div>
                <div class="web-voucher-heading__buttons">
                    <a href="#" class="sl-ca sl-ca--small sl-ca--c-white"><img src="/img/components/buttons/pdf.svg" alt="">Download PDF</a>
                    <a href="#" class="sl-ca sl-ca--small">{{ 'Back to website'|upper }}</a>
                </div>
            </div>

            <div class="web-voucher__details">
                <ul class="web-voucher__details-list">
                    <li class="web-voucher__detail">
                        <span class="web-voucher__detail-title">Name, Last name:</span>
                        <span class="web-voucher__detail-val">Antete Kazelnika</span>
                    </li>
                    <li class="web-voucher__detail">
                        <span class="web-voucher__detail-title">Reservation number:</span>
                        <span class="web-voucher__detail-val">EKS-2270</span>
                    </li>
                    <li class="web-voucher__detail">
                        <span class="web-voucher__detail-title">Tour:</span>
                        <span class="web-voucher__detail-val">Tour around Old Town</span>
                    </li>
                    <li class="web-voucher__detail">
                        <span class="web-voucher__detail-title">Date:</span>
                        <span class="web-voucher__detail-val">22.06.2018</span>
                    </li>
                    <li class="web-voucher__detail">
                        <span class="web-voucher__detail-title">Starting time:</span>
                        <span class="web-voucher__detail-val">10:30</span>
                    </li>
                    <li class="web-voucher__detail">
                        <span class="web-voucher__detail-title">Starting place:</span>
                        <span class="web-voucher__detail-val">Town Hall squere</span>
                    </li>
                    <li class="web-voucher__detail">
                        <span class="web-voucher__detail-title">Tour is provided by:</span>
                        <span class="web-voucher__detail-val">Smile Line</span>
                    </li>
                    <li class="web-voucher__detail">
                        <span class="web-voucher__detail-title">Sum:</span>
                        <span class="web-voucher__detail-val">12.00 EUR</span>
                    </li>
                </ul>

                <div class="web-voucher__summ">
                    <div class="web-voucher__summ-item">
                        <span class="web-voucher__detail-title web-voucher__detail-title--dark">Price:</span>
                        <span class="web-voucher__detail-val">1 x 12.00 EUR</span>
                    </div>
                    <div class="web-voucher__summ-item">
                        <span class="web-voucher__detail-title web-voucher__detail-title--dark">Total:</span>
                        <span class="web-voucher__detail-val">1</span>
                    </div>
                </div>

                <div class="web-voucher__stamp">
                    <img src="/img/components/voucher/stamp.png" alt="Stamp">
                </div>
            </div>
        </div>
    </div>
</div>